{% with domain="http://127.0.0.1:8000" %}   

<aside class="bd-sidebar">
<nav class=" bd-links" id="bd-docs-nav" aria-label="WHM navigation">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
    <li class="mb-1">
      <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#product-menu" aria-expanded="false">
        Products
      </button>

      <div class="collapse" id="product-menu">
        <ul class="list-unstyled fw-normal pb-1 small">
            <li><a href="{{domain}}/product/add-purchase-order/" class="d-inline-flex align-items-center rounded">Add Purchase Order</a></li>
            <li><a href="{{domain}}/product/add-checked-stock/" class="d-inline-flex align-items-center rounded">Add Checked Stock</a></li>
            <li><a href="{{domain}}/product/po-stock-checking/" class="d-inline-flex align-items-center rounded">Check Products</a></li>
            
        </ul>
      </div>
    </li>
    <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-menu" aria-expanded="false">
          Accounting
        </button>
  
        <div class="collapse" id="accounting-menu">
          <ul class="list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="d-inline-flex align-items-center rounded">Add Purchase Order</a></li>
              <li><a href="#" class="d-inline-flex align-items-center rounded">Add Checked Stock</a></li>
              
          </ul>
        </div>
      </li>
</ul>
</nav>
</aside>
{% endwith %}